/* Media Queries */

/* Media Queries to change content organization based on window size */

@media(max-width: 900px) {

    .grid {grid-template-columns: 1fr;}

    .grid-2 {grid-template-columns: 1fr;}

    .grid-3 {grid-template-columns: 1fr;}

    .conainter .explore {width: 10rem;}

    .container .explore .buttons {flex-direction: column;}

    .container .explore .buttons .button-section {margin-bottom: 1rem;}
}

@media(max-width: 704px) {
    .container .archives .current-archives .archived-article h3 a {font-size: 0.8rem;}
    
    .container .archives {flex-direction: column;}

    .container .archives .previous-archives {
        border-left: none;
        border-top: 2.4px solid rgb(48, 48, 48);
        padding-top: 1rem;
        margin-top: 1rem;
    }

    #past-archives-l-child {padding-bottom: 1rem;}

    .container .about-section .about-newspaper {margin: 1rem 5rem;}
}

@media(max-width: 495px) {

    .container {overflow-x: hidden;}

    .card {padding: 10px 20px;}
    
    .container .explore .buttons .button-section {width: 300px;}

    .container .issue-heading {
        padding: 1rem 1rem;
        margin-right: 0.1rem;
        margin-left: 0.1rem;
    }

    .container .issue-heading h2 {font-size: 1.1rem;}

    .container header .top-info {margin-bottom: 2rem;}

    .container header .top-info .volume {
        padding-left: 1rem;
        font-size: 0.9rem;
    }

    .fa-facebook,
    .fa-twitter,
    .fa-envelope-square {padding-right: 1rem;}

    .container .explore {padding-bottom: 0.1rem;}

    .container .topics-section .topics {margin-left: 2rem;}
}

@media (max-width: 450px) {
    .container header .top-info {flex-direction: column;}

    .container header .top-info .volume {margin-bottom: 0.5rem;}

    .container header h1 {font-size: 2rem;}

    .container header nav ul li {padding-right: 0.5rem;}

    .container header nav ul li a {font-size: 0.9rem;}

    .card {padding: 1px 15px;}

    .container .explore {background-color: #fff;}

    footer h1 {font-size: 1.5rem;}

    footer a {font-size: 0.7rem;}

    .container .issue-heading h2 {font-size: 1rem;}

    .container .about-section .about-newspaper {margin: 1rem 2rem;}

    .container .topics-section .topics {gap: 0.2rem;}

    #extra-container .container {
        overflow-x: scroll;
        padding-left: 20px;
    }

    .container .archives .current-archives {width: 20rem;}

    .container .archives .current-archives {margin-left: 0}
}