/* Utilities */

/* All static global styles for a specific selector/tag */

/* Utilities include the main container, grid layout, and other selectors/tags whose properties will not change */

/* Container */

.container {
    max-width: 1100px;
    margin: 0.1rem auto;
    padding: 1.2rem 40px;
    padding-bottom: 0rem;
}

/* Links */

a {
    text-decoration: none;
    color: #000;
    transition: color ease-in 0.12s;
}

.current {
    border-bottom: 1px solid #000;
    transition: border-bottom-color ease-in 0.3s;
}

.current:hover{border-bottom-color: rgb(0, 0, 0, 0.2);}

/* Heading 1 */

h1 {color: var(--primary-color);}

/* Grid */

.grid {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.grid-2 {grid-template-columns: repeat(2, 1fr);}

.grid-3 {grid-template-columns: repeat(3, 1fr);}

/* Flex */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {flex-direction: row;}

.flex-column {flex-direction: column}

/* Card */

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 0 2rem 1.2rem 2rem;
    transition: transform ease-in 0.15s, box-shadow ease-in 0.15s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s ease-in;
}

.btn:hover {transform: scale(0.9);}

.btn-secondary {
    background-color: transparent;
    color: #000;
    border: 1px solid var(--primary-color);
}